* {
  margin: 0;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

body {
  background-color: #462255;
}

p {
  color: white;
  position: absolute;
  top: 33%;
  left: 50%;

  font-size: 2em;

  transform: translate(-50%, -50%); /* Dynamically center if font size changes */
}
